    /*  style sheet for the  corona  dash board */
    /*  loader for the projects */
    
    .loader {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: calc(100% + 100px);
        z-index: 10;
        background-color: #e9ebee81;
        display: none;
        overflow: hidden;
    }
    
    .loader-body {
        position: relative;
        top: 40%;
        left: 45%;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 5px solid transparent;
        border-top: 5px solid #29487d;
        border-left: 5px solid #29487d;
        border-bottom: 5px solid #29487d;
        animation: spin 1s linear infinite;
        -webkit-animation: spin 1s linear infinite;
        /* Safari */
    }
    /* Safari */
    
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    
    body {
        background-color: #e9ebee !important;
    }
    /*  nav abs and component */
    
    nav {
        box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15) !important;
        position: fixed !important;
        background-color: #29487d !important;
        color: #e9ebee;
        width: 100%;
        z-index: 2;
    }
    
    .navbar-collapse {
        float: right;
    }
    
    nav a {
        color: #e9ebee !important;
    }
    
    .un {
        color: #e9ebee !important;
        display: inline-block;
    }
    
    .un:after {
        content: '';
        width: 0px;
        height: 1px;
        display: block;
        background: #e9ebee;
        transition: 300ms;
        transform-origin: 0% 50%;
    }
    
    .un:hover:after {
        width: 100%;
    }
    
    .text-un::after {
        width: 100% !important;
    }
    
    @media only screen and (max-width: 600px) {
        .navbar-collapse {
            float: none;
        }
    }
    
    nav .container,
    footer .container,
    section .container {
        max-width: 720px;
    }
    /* main body of the file */
    
    .main-body {
        position: relative;
        padding-top: 50px;
    }
    
    .Box {
        margin-bottom: 15px;
    }
    
    .box-shadow-medium {
        box-shadow: 0 1px 5px rgba(27, 31, 35, 0.15) !important;
        background-color: #ffffff !important;
        font-family: "Segoe UI", SegoeUI, Roboto, "Segoe WP", "Helvetica Neue", "Helvetica", "Tahoma", "Arial", sans-serif !important;
    }
    
    .v-align-top {
        vertical-align: top;
    }
    
    #content_table {
        width: 100%;
    }
    
    #content_table,
    #content_table thead td {
        border-bottom: none !important;
    }
    
    #content_table tr {
        background-color: transparent;
    }
    
    #content_table td {
        padding: 0px;
    }
    
    .image-preview {
        max-width: 100%;
    }
    
    .graph-image {
        max-width: 100%;
        border: solid 1px #e9ebee;
    }
    
    #content_table_info {
        display: none;
    }
    
    .main-body li {
        padding-bottom: 10px;
    }
    
    @media only screen and (max-width: 600px) {
        .Box .d-table-cell {
            display: block !important;
            padding: 10px !important;
            max-width: 100% !important;
            flex: unset;
        }
        .col-3,
        .col-8,
        .col-4 {
            max-width: 100% !important;
            flex: unset !important;
        }
    }
    
    .paging_simple_numbers {
        font-size: 12px;
    }
    
    .row {
        margin: 0px !important;
    }
    /* footer  style  */
    
    footer {
        padding: 30px 0px;
        background-color: #ffff;
        border-top: solid 1px #8080804f;
    }
    /*  footer i cons */
    
    .social-media-list {
        text-align: center;
    }
    
    .fa {
        padding: 15px;
        font-size: 20px !important;
        background-color: #29487d !important;
        /* background-color: #818793 !important; */
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        border-radius: 5px;
        color: #e9ebee;
    }
    
    .fa:hover {
        opacity: 0.8;
        /* background-color: #5e6168 !important; */
        color: #ffffff;
        text-decoration: none;
    }
    /* #103c5b */
    /* 
"
contact us css
"
*/
    
    .contact-table {
        width: 100%;
        overflow-x: scroll;
    }
    
    .contact-table tr td {
        padding: 5px 10px;
    }
    /* 
"
 state barekup of corona statcks
"
*/
    
    .covid-danger {
        background-color: rgba(255, 7, 58, .12549);
    }
    
    .covid-primary {
        background-color: rgba(11, 102, 200, 0.17);
    }
    
    .covid-success {
        background-color: rgba(40, 167, 69, .12549);
    }
    
    .covid-light {
        background-color: rgba(108, 117, 125, .0627451);
    }
    
    .text-grey {
        color: #6c757d;
    }
    
    .state-table-wrapper {
        width: 100%;
        overflow-y: scroll;
    }
    
    @media only screen and (max-width: 600px) {
        .state-table {
            font-size: 12px;
        }
    }
    
    .state-table thead tr th:nth-child(2),
    .state-table tbody tr td:nth-child(2) {
        background-color: rgba(255, 7, 58, .12549);
        text-align: center;
        color: #dc3545;
    }
    
    .state-table thead tr th:nth-child(3),
    .state-table tbody tr td:nth-child(3) {
        background-color: rgba(11, 102, 200, 0.17);
        text-align: center;
        color: #007bff;
    }
    
    .state-table thead tr th:nth-child(4),
    .state-table tbody tr td:nth-child(4) {
        background-color: rgba(40, 167, 69, .12549);
        text-align: center;
        color: #28a745;
    }
    
    .state-table thead tr th:nth-child(5),
    .state-table tbody tr td:nth-child(5) {
        background-color: rgba(108, 117, 125, .0627451);
        text-align: center;
        color: #6c757d;
    }
    /* table tbody tr td:nth-child(2) {
        background: #ccc;
    } */
    
    .quiz input,
    .quiz label {
        cursor: pointer;
    }
    
    .bg-right {
        background-color: #65d4654a;
        padding: 5px;
        color: #28a745;
    }
    
    .bg-wrong {
        background-color: #f3380f26;
        padding: 5px;
        color: red;
    }
    
    .bg-light {
        padding: 5px;
    }
    
    .line {
        height: 1px;
        width: 100%;
        border-top: solid lightgray 0.5px;
        margin: 15px 0px;
    }